<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>集中力すぐ切れるんだけどどうすれば？</string>
	<string>やる気出ない日ってどうしたらいい？</string>
	<string>一回サボったら戻れなくなる…</string>
	<string>覚えても次の日忘れるんだけど…</string>
	<string>問題集、1冊終わらない…</string>
	<string>毎回間違えて心折れる…</string>
	<string>これ自分向いてない気がする…</string>
	<string>こんな自分でも受かる？</string>
	<string>勉強ってどうやって続けるの？</string>
	<string>モチベなくてもやっていいの？</string>
	<string>資格試験なんて意味がないという人がいるけどホント?</string>
</array>
</plist>
