<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
      <string>【問題】従業員の給料 ￥550,000 を支給するにあたって、所得税の源泉徴収額 ￥27,500 と社会保険料 ￥50,000 を差し引き、残額を普通預金口座から支払った 【回答】借方：給料 ￥550,000 / 貸方：所得税預り金 ￥27,500、社会保険料預り金 ￥50,000、普通預金 ￥472,500</string>
      <string>【問題】収入印紙 ￥2,700 と郵便切手 ￥450 を現金で購入した。なお、これらはすぐに使用した 【回答】借方：租税公課 ￥2,700、通信費 ￥450 / 貸方：現金 ￥3,150</string>
      <string>【問題】電子記録債務 ￥720,000 が決済され、当座預金口座から引き落とされた 【回答】借方：電子記録債務 ￥720,000 / 貸方：当座預金 ￥720,000</string>
      <string>【問題】期首に、不用になった備品（取得原価 ￥490,000、減価償却累計額 ￥428,750、間接法で記帳）を ￥70,000 で売却し、代金は月末に受け取ることとした 【回答】借方：備品減価償却累計額 ￥428,750、未収入金 ￥70,000 / 貸方：備品 ￥490,000、固定資産売却益 ￥8,750</string>
      <string>【問題】前期末に未回収であった売掛金 ￥280,000 が貸倒れとなった。なお、貸倒引当金の残高は ￥190,000 であった 【回答】借方：貸倒引当金 ￥190,000、貸倒損失 ￥90,000 / 貸方：売掛金 ￥280,000</string>
      <string>【問題】商品 ￥210,000 を売り上げ、代金のうち ￥60,000 は現金で受け取り、残額は共通商品券で受け取った 【回答】借方：現金 ￥60,000、受取商品券 ￥150,000 / 貸方：売上 ￥210,000</string>
      <string>【問題】買掛金 ￥200,000 を当座預金口座から返済した。ただし、返済前の当座預金残高は ￥175,000 であり、当社は銀行と借越限度額 ￥1,000,000 の当座借越契約を締結している 【回答】借方：買掛金 ￥200,000 / 貸方：当座預金 ￥200,000（※当座借越発生）</string>
      <string>【問題】従業員が出張から帰社し、旅費交通費として使うよう手渡していた ￥100,000 のうち、残った ￥9,500 を従業員から現金で受け取った 【回答】借方：現金 ￥9,500 / 貸方：仮払金 ￥9,500</string>
      <string>【問題】かねて約束手形を振り出して借り入れていた ￥2,000,000 の満期日になり、同額が当座預金口座から引き落とされるとともに、約束手形の返却を受けた 【回答】借方：手形借入金 ￥2,000,000 / 貸方：当座預金 ￥2,000,000</string>
      <string>【問題】土地付き建物（購入代価は土地 ￥5,000,000、建物 ￥7,500,000）を購入し、代金とともに不動産会社への手数料（それぞれ購入代価の 3％）および印紙税（￥20,000）も含めて普通預金口座から振り込んだ。なお、印紙税は費用処理する 【回答】借方：土地 ￥5,000,000、建物 ￥7,500,000、支払手数料 ￥375,000、租税公課 ￥20,000 / 貸方：普通預金 ￥12,895,000</string>
      <string>【問題】不動産の賃貸借契約を解約し、契約時に支払っていた保証金（敷金）について、修繕費 ￥150,000 が差し引かれた残額 ￥320,000 が普通預金口座へ振り込まれた 【回答】借方：普通預金 ￥320,000、修繕費 ￥150,000 / 貸方：差入保証金 ￥470,000</string>
      <string>【問題】日商株式会社は、株主総会において配当金 ￥1,200,000 の支払いと利益準備金の積立 ￥120,000 を繰越利益剰余金から行うことについて承認された。なお、配当金はまだ支払っていない 【回答】借方：繰越利益剰余金 ￥1,320,000 / 貸方：未払配当金 ￥1,200,000、利益準備金 ￥120,000</string>
      <string>【問題】横浜商事株式会社から商品を仕入れ、商品代価 ￥2,000,000 と送料 ￥5,000 をあわせて掛けとした 【回答】借方：仕入 ￥2,005,000 / 貸方：買掛金 ￥2,005,000</string>
      <string>【問題】日商銀行の普通預金口座から ￥500,000 および東商銀行の普通預金口座から ￥350,000 を日商銀行の当座預金口座へ振り込んだ。その際に手数料 ￥300 が東商銀行の普通預金口座から差し引かれた 【回答】借方：日商銀行当座預金 ￥850,000、支払手数料 ￥300 / 貸方：日商銀行普通預金 ￥500,000、東商銀行普通預金 ￥350,300</string>
      <string>【問題】店舗兼事務所として使用している不動産の固定資産税 ￥150,000 を普通預金口座から納付した 【回答】借方：租税公課 ￥150,000 / 貸方：普通預金 ￥150,000</string>
      <string>【問題】商品 ￥220,000（消費税込みの価格）を仕入れ、代金は掛けとした。なお、消費税率は 10％であり、税抜方式で処理する 【回答】借方：仕入 ￥200,000、仮払消費税 ￥20,000 / 貸方：買掛金 ￥220,000</string>
      <string>【問題】電子記録債権 ￥750,000 が決済され、同額が当座預金口座に振り込まれた 【回答】借方：当座預金 ￥750,000 / 貸方：電子記録債権 ￥750,000</string>
      <string>【問題】期首に、不用になった備品（取得原価 ￥1,200,000、減価償却累計額 ￥800,000、間接法で記帳）を ￥250,000 で売却し、代金は月末に当社指定の普通預金口座に振り込んでもらうこととした 【回答】借方：備品減価償却累計額 ￥800,000、固定資産売却損 ￥550,000、未収入金 ￥250,000 / 貸方：備品 ￥1,200,000</string>
      <string>【問題】かねて受け取っていた株式会社丸の内物産振出しの約束手形 ￥870,000 が決済され、同額が当座預金口座に入金された 【回答】借方：当座預金 ￥870,000 / 貸方：受取手形 ￥870,000</string>
      <string>【問題】売掛金 ￥450,000（うち前期販売分 ￥200,000、当期販売分 ￥250,000）が貸し倒れた。なお、貸倒引当金の残高は ￥180,000 である 【回答】借方：貸倒引当金 ￥180,000、貸倒損失 ￥270,000 / 貸方：売掛金 ￥450,000</string>
      <string>【問題】現金の帳簿残高は ￥35,000、実際有高は ￥32,000 であった。不一致の原因を調査したところ、消耗品費の支払い ￥2,000 が記帳漏れとなっていることが判明したが、残額については期末決算まで継続して調査することにした 【回答】借方：消耗品費 ￥2,000、現金過不足 ￥1,000 / 貸方：現金 ￥3,000</string>
      <string>【問題】所得税の源泉徴収額 ￥50,000 を普通預金口座から納付した 【回答】借方：所得税預り金 ￥50,000 / 貸方：普通預金 ￥50,000</string>
      <string>【問題】かねて八重洲株式会社へ商品を売り上げ、適正に処理するとともに次の納品書兼請求書を送付していたが、本日、請求した合計金額が振り込まれた 【回答】借方：当座預金 ￥1,775,000 / 貸方：売掛金 ￥1,775,000</string>
      <string>【問題】現金過不足 ￥5,000 が借方計上されていた原因を調査したところ、同額の手数料の受け取りが二重計上されていることが判明した 【回答】借方：受取手数料 ￥5,000 / 貸方：現金過不足 ￥5,000</string>
      <string>【問題】郵便局で、郵便切手 ￥400 を現金で購入するとともに、店舗の固定資産税 ￥32,000 を現金で納付した。なお、郵便切手はすぐに使用した 【回答】借方：通信費 ￥400、租税公課 ￥32,000 / 貸方：現金 ￥32,400</string>
      <string>【問題】商品 ￥180,000 を仕入れ、代金のうち ￥30,000 は注文時に支払った手付金と相殺し、残額は掛けとした。なお、当社負担の引取運賃 ￥2,000 は現金で支払った 【回答】借方：仕入 ￥180,000、当社負担分引取運賃（仕入） ￥2,000 / 貸方：前払金 ￥30,000、現金 ￥2,000、買掛金 ￥150,000</string>
      <string>【問題】広告宣伝費 ￥53,000 を普通預金口座から支払った。その際に、振込手数料 ￥500 がかかり、同口座から差し引かれた 【回答】借方：広告宣伝費 ￥53,000、支払手数料 ￥500 / 貸方：普通預金 ￥53,500</string>
      <string>【問題】飛騨株式会社に対する買掛金 ￥290,000 について、電子記録債務の発生記録の請求を行った 【回答】借方：買掛金 ￥290,000 / 貸方：電子記録債務 ￥290,000</string>
      <string>【問題】銀行から借り入れていた借入金 ￥800,000 の返済日になったため、元利合計を普通預金口座から返済した。なお、借入れの年利率は 1.8％、借入期間は当期中の 9 か月間であり、利息は月割計算する 【回答】借方：借入金 ￥800,000、支払利息 ￥10,800 / 貸方：普通預金 ￥810,800</string>
      <string>【問題】従業員の給料 ￥600,000 の支給に際して、所得税の源泉徴収額 ￥32,000、住民税の源泉徴収額 ￥43,000 および従業員負担の社会保険料 ￥52,000 を差し引いた残額を普通預金口座から支払った 【回答】借方：給料 ￥600,000 / 貸方：所得税預り金 ￥32,000、住民税預り金 ￥43,000、社会保険料預り金 ￥52,000、普通預金 ￥473,000</string>
      <string>【問題】建物の賃借契約を解約し、契約時に支払っていた保証金（敷金）￥360,000 について、修繕費 ￥122,000 を差し引かれた残額が当座預金口座に振り込まれた 【回答】借方：当座預金 ￥238,000、修繕費 ￥122,000 / 貸方：差入保証金 ￥360,000</string>
      
    </array>
</plist>
